$font-headers             : 'Lato', sans-serif;
$font-body                : 'Karla', sans-serif;

$primary-color            : #41398E;
$secondary-color          : #C0DEEE;
$error-color              : #CC271C;
$white                    : #FFFF;
$black                    : #313644;
$yellow                   : #FFBF47;

$focus-color              : $yellow;

$global-radius            : 5px;

$base-font-size-small     : 112.5%;
$base-font-size-large     : 125%;

$column-gap               : 1rem;

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/elements/container.sass';
